# Server
NODE_ENV=development
PORT=5000

# Database
MONGO_USER = 
MONGO_PASSWORD =
MONGO_URI=

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=1h

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Access / Refresh Token
ACCESS_TOKEN_SECRET= 
ACCESS_TOKEN_EXPIRES=1h
REFRESH_TOKEN_SECRET= 
REFRESH_TOKEN_EXPIRES=30d
PASSWORD_TOKEN_SECRET= 
PASSWORD_TOKEN_EXPIRES=10m

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#Brevo Email Service
BREVO_SMTP_HOST=
BREVO_SMTP_PORT=
BREVO_SMTP_API_KEY=
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=


# Frontend URL
FRONTEND_URL=http://localhost:3000
